body {
  /* General */
  --color-gray-05: #f0f4ff;
  --color-gray-10: #f0f4ff;
  --color-gray-20: #cdd6f4;
  --color-gray-30: #bac2de;
  --color-gray-40: #a6adc8;
  --color-gray-50: #6c7086;
  --color-gray-60: #45475a;
  --color-gray-70: #313244;
  --color-gray-80: #2c2c3f;
  --color-gray-90: #1e1e2e;
  --layout-background-0: var(--color-gray-90);
  --layout-background-1: var(--color-gray-90);
  --layout-background-2: var(--color-gray-70);
  --layout-background-3: var(--color-gray-60);
  --layout-background-4: var(--color-gray-50);
  /* --layout-color-0: var(--color-white); */
  /* --layout-color-1: var(--color-gray-10); */
  /* --layout-color-2: var(--color-gray-30); */
  /* --layout-color-3: var(--color-gray-50); */
  --layout-border-0: transparent;
  /* --layout-border-1: var(--color-gray-60); */
  /* --layout-border-2: var(--color-gray-50); */

  /* Top and bottom bars */
  --lwt-accent-color: var(--color-gray-90);
  --lwt-tabs-border-color: var(--color-gray-60);
  --toolbar-field-background-color: var(--color-gray-80);
  --toolbar-field-border-color: var(--color-gray-60);

  /* Sidebar */
  --sidebar-background: var(--color-gray-90);
  --sidebar-background-color: var(--color-gray-90);
  --sidebar-border-color: transparent;
  --foldertree-background: var(--color-gray-90);
  --splitter-color: var(--color-gray-60);

  /* Messages list */
  --tree-view-bg: var(--color-gray-90);
  --toolbar-bgcolor: var(--color-gray-90);
  --tree-pane-background: var(--color-gray-90);
  --tree-card-background: var(--color-gray-80) !important;
  --tree-card-background-selected-current-unfocused: var(
    --color-gray-60
  ) !important;

  /* Lists */
  --list-container-background-selected-current: var(--color-gray-70);
  --list-container-border-selected-current: var(--color-gray-60);
  --list-container-background-selected: var(--color-gray-70);
  --list-container-border-selected: var(--color-gray-60);
}

#messagePane {
  background-color: var(--color-gray-90);
}

:root .list-header-bar {
  background-color: var(--color-gray-90) !important;
}

#unifiedToolbarContainer {
  display: none !important;
}

unified-toolbar {
  border: none !important;
}

.searchBox,
.themeableSearchBox {
  background-color: var(--color-gray-80) !important;
  border-color: var(--color-gray-60) !important;
}

#tabs-toolbar {
  background: var(--color-gray-90) !important;
}

#folderPaneSplitter {
  padding: 2px;
}

#threadPane {
  padding-left: 4px;
  background-color: var(--color-gray-90);
}
